.page-title-area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 80px;
}

.page-title-content {
  text-align: center;
}

.page-title-content h2 {
  margin-bottom: 0;
  color: #151886;
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.page-title-content ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 12px;
  margin-bottom: 0;
}

.page-title-content ul li {
  color: #505050;
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.page-title-content ul li a {
  display: inline-block;
  color: #505050;
}

.page-title-content ul li::before {
  content: "";
  position: absolute;
  right: -15px;
  top: 11px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #505050;
}

.page-title-content ul li:last-child::before {
  display: none;
}

.main-page-content {
  margin-top: 235px;
}