.seaction {
  margin: 10px 0;
}

.search-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // background-image: url("/assets/images/bg-head.jpg");
  background-position: 50% 50%;
  background-size: cover;
  padding: 120px 0 70px;
  text-align: center;
  .search-title {
    // color: #151886;
    // font-size: 32px;
    // margin-bottom: 40px;
    // font-weight: 300;
    margin-bottom: 20px;
    width:450px;
    height: 100px;
  }
  .masthead {
    position: relative;
    width: 100%;
    .container {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      .tc-header {
        width: 100%;
        position: relative;
      }
    }
    form#tc-search-form {
      position: relative;
      margin-bottom: 10px;
      .tc-search-textboxwrap {
        .tc-search-textbox {
          display: block;
          width: 100%;
          font-size: 18px;
          padding-left: 60px;
          height: 60px;
          border-color: transparent;
          font-weight: 100;
          border-radius: 5px;
          border: 2px solid #d2d2d2;
          border-radius: 30px;
          &::placeholder {
            color: #d2d2d2;
          }
          &:focus {
            border: 2px solid #d2d2d2;
          }
        }
        .tc-search-button {
          display: block;
          position: absolute;
          left: 10px;
          top: 8px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          i {
            display: block;
            position: absolute;
            font-size: 32px;
            font-weight: 100;
            color: #505050;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            line-height: 1.4;
            &::before {
              font-weight: 900;
              font-family: "Font Awesome\ 5 Free";
            }
          }
          &:hover i {
            color: #505050;
          }
        }
      }
    }
  }
  #tc-content-search {
    margin-top: 2px;
    text-align: left;
    cursor: default;
    border-top: 0;
    background: #fff;
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    &.show {
      display: block;
    }
    .autocomplete-suggestion {
      position: relative;
      padding: 0 0.6em;
      line-height: 23px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.02em;
      color: #333;
      .sl,
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .sl {
        float: left;
        color: #1371bb;
        font-weight: 500;
        font-size: 14px;
        width: 120px;
      }
      .sr {
        float: right;
        font-size: 14px;
        color: #aaa;
      }
      p {
        padding-left: 5px;
        display: inline-block;
        width: 450px;
      }
      &:hover {
        background: #f0f0f0;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 992px) {
  .search-section {
    .search-title {
      // margin-bottom: 20px;
      width:400px;
      height: 80px;
    }
    .masthead {
      .container {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
@media (max-width: 767px) {
  .search-section {
    .search-title {
      margin-bottom: 20px;
      width:380px;
      height: 75px;
    }
    .masthead {
      .container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
        box-sizing: border-box;
      }
    }
    #tc-content-search {
      .autocomplete-suggestion {
        .sl {
          width: fit-content;
        }
        p {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 500px)
{
  .search-section {
    .search-title {
      margin-bottom: 20px;
      width:320px;
      height: 60px;
    }
  }
}