.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 200ms linear infinite;
}

.lightbox {
  position: relative;
  margin-bottom: 1rem;
  img {
    width: 300px;
    height: 200px;
    box-shadow: 0 10px 20px #b9bbbe;
    cursor: pointer;
  }
  button {
    position: absolute;
    right: -100px;
    bottom: 0;
  }
}

.img-inner-shadow .layer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  cursor: pointer;
}

.img-inner-shadow:hover .layer {
  box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0px 0px 120px rgba(0, 0, 0, 0.9);
}

.img-inner-shadow .layer {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

.img-inner-shadow:hover .layer {
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
