.menu-open {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 3px 2px 20px 1px rgba(0, 0, 0, 0.1);
}
.iq-sidebar-menu {
  .iq-submenu {
    padding-left: 0px;
    &.hidden {
      display: none;
    }
    li {
      a {
        color: #777d74 !important;
        padding: 12px 15px !important;
        i {
          font-size: 16px !important;
        }
      }
    }
  }
}

/* .iq-waves-effect {
  &.collapsed {
    font-size: 14px;
    white-space: nowrap;
    display: block;
    color: #ffffff;
    position: relative;
    padding: 15px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    text-transform: capitalize;
  }
  color: #089bab;
  text-decoration: none;
} */
