.indicator {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  svg {
    polyline {
      fill: none;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      &#back {
        stroke: rgba(#3bd3ab, 0.3);
      }
      &#front {
        stroke: #3bd3ab;
        stroke-dasharray: 12, 36; //Dash 12 & Gap 36
        stroke-dashoffset: 48;
        animation: dash 1s linear infinite;
      }
    }
  }
}
.dinh_dang_input {
  display: flex;
  .xoa {
    margin: 2px;
  }
}
@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.stt_en {
  width: 50px;
}

.cta {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #222;
}

.page-link {
  cursor: pointer;
}

.myBtn {
  position: absolute;
  bottom: 8.5%;
}

.table {
  table-layout: fixed;
  thead {
    th {
      vertical-align: middle !important;
      &.th-function {
        width: 150px;
      }
    }
  }
  tbody {
    tr {
      .td-break {
        overflow-wrap: break-word;
      }
    }
  }
}

@media (max-width: 767px) {
  .table {
    display: table !important;
    thead {
      th {
        &.th-function {
          width: 100px;
        }
      }
    }
  }
}
