.mainnav {
  &.navbar {
    padding: 0;
  }
  z-index: 9999;
  border-radius: 0;
  background: 0 0;
  border: none;
  .relative {
    position: relative;
    .tc-site-logo {
      float: left;
      margin-top: 10px;
      cursor: pointer;
      a {
        display: block;
        line-height: 1;
        text-decoration: none;
        color: #8d8d8d;
        .tc-site-logo-text {
          text-align: center;
          font-family: Arial !important;
          h1 {
            color: #00adff;
            font-size: 1.5em;
            display: inline;
            margin: 0;
            font-weight: 600;
          }
          span {
            font-weight: 400;
            font-size: 1.5em;
            color: rgba(255, 255, 255, 0.9);
          }
          h2 {
            font-size: 0.75em;
            margin-bottom: 0.5rem;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }
    .paper_menu {
      .xv-menuwrapper {
        float: right;
        .dl-menu {
          margin: 0;
          display: flex;
          position: static;
          padding: 0;
          text-align: left;
          float: none;
          li {
            list-style: none;
            a {
              padding: 0 20px;
              display: block;
              font-size: 13px;
              font-weight: 400;
              color: #828282;
              position: relative;
              margin-left: 15px;
              text-decoration: none;
              transition: none;
              &.active {
                color: #151886;
              }
              &:hover {
                color: #151886;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .mainnav {
    padding: 15px 15px 15px 0;
  }
}
@media (min-width: 1024px) {
  .mainnav .dl-trigger {
    display: none;
  }
}

.paper-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.paper-nav-toggle.active i::after,
.paper-nav-toggle.active i::before,
.paper-nav-toggle.dl-active i::after,
.paper-nav-toggle.dl-active i::before {
  background: #828282;
}
.paper-nav-toggle:active,
.paper-nav-toggle:focus,
.paper-nav-toggle:hover {
  outline: 0;
  border-bottom: none !important;
  opacity: 0.8;
}
.paper-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #828282;
  font: bold 14px/0.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #828282;
  transition: all 0.2s ease-out;
}
.paper-nav-toggle i::after,
.paper-nav-toggle i::before {
  content: "";
  width: 25px;
  height: 2px;
  background: #828282;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}
.paper-nav-toggle.paper-nav-white > i {
  color: white;
  background: #fff;
}
.paper-nav-toggle.paper-nav-white > i::after,
.paper-nav-toggle.paper-nav-white > i::before {
  background: #fff;
}
.paper-nav-toggle.left {
  left: 0;
  right: auto;
}
.paper-nav-toggle i::before {
  top: -7px;
}
.paper-nav-toggle i::after {
  bottom: -7px;
}
.paper-nav-toggle:hover i::before {
  top: -10px;
}
.paper-nav-toggle:hover i::after {
  bottom: -10px;
}
.paper-nav-toggle.active i,
.paper-nav-toggle.dl-active i {
  background: 0 0 !important;
}
.paper-nav-toggle.active i::before,
.paper-nav-toggle.dl-active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.paper-nav-toggle.active i::after,
.paper-nav-toggle.dl-active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.paper-nav-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 0 0 0;
  display: block;
  margin: 0 auto;
  display: block;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
  text-align: center;
}

@media (max-width: 1024px) {
  .paper-nav-toggle {
    position: absolute;
    display: block;
  }
}
.paper-nav-toggle .left {
  left: 15px;
}

.paper_menu {
  .dl-menuwrapper {
    &:first-child {
      margin-top: 40px;
    }
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 250px;
    float: left;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
    .dl-menu {
      &.dl-menuopen {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      &.dl-menu-toggle {
        transition: all 0.3s ease;
      }
      box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1),
        0 8px 15px rgba(0, 0, 0, 0.07);
      z-index: 9999;
      border-radius: 2px;
      margin: 0;
      position: absolute;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    ul {
      padding: 0;
      list-style: none;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      background: #fff;
      li {
        border-bottom: 1px solid #fafafa;
        position: relative;
        a {
          color: black;
          display: block;
          position: relative;
          padding: 15px 20px;
          font-size: 13px;
          line-height: 20px;
          outline: 0;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .fb_iframe_widget {
    margin-left: 20px;
  }
}
.fb_iframe_widget {
  display: inline-block !important;
  position: relative;
}

.fb-share-button,
.heart {
  cursor: pointer !important;
  display: block;
  height: 10px;
}

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}

@media (max-width: 1024px) {
  .mainnav {
    padding: 15px 15px 15px 0 !important;
  }
  .paper_menu .dl-menuwrapper ul li {
    transition: all 0.2s linear;
    a {
      color: #828282;
    }
    &:hover {
      a {
        color: #151886;
      }
    }
  }
}
@media (min-width: 1024px) {
  .mainnav .dl-trigger {
    display: none;
  }
}
