footer {
  padding: 100px 0 0;
  .container {
    height: 30px;
    .copyright {
      float: left;
      display: inline;
      font-size: 14px;
      color: #a5a5a5;
    }
    .app-links {
      float: right;
      a {
        color: #d1d1d1;
        margin-left: 10px;
      }
    }
  }
}
