.movie_content {
  max-width: 400px;
}
.content_en {
  max-width: 150px;
}
.edit-modal {
  max-height: 550px;
  overflow-x: auto;
}
.index {
  width: 30px;
}
.edit_signout{
  width: 170px!important;
}
.chuc-nang{
  width: 130px;
}
.content_word{
  max-width: 400px;
}
.content_en_vi{
  max-width: 180px;
}
