.navtab {
  margin-top: 285px!important;
  .MuiPaper-root {
    background-color: #fafafa;
    &.MuiPaper-elevation4 {
      box-shadow: none;
    }
    .MuiTabs-scroller {
      .MuiTab-textColorPrimary {
        &.Mui-selected {
          background-color: #ffffff;
          font-weight: 700;
        }
        .MuiTab-wrapper {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
          font-size: 16px;
          text-transform: none;
          display: block;
          &::first-letter {
            text-transform: capitalize;
          }
        }
      }
      .PrivateTabIndicator-root-68 {
        background-color: unset;
      }
    }
    .MuiSvgIcon-root {
      fill: #212121;
    }
  }
  .MuiTypography-body1 {
    border-radius: 10px 16px;
    .MuiTabs-scrollable {
      .MuiTab-textColorPrimary.Mui-selected {
        background-color: #ffffff;
      }
    }
  }
}

@media (min-width: 576px) {
  .navtab.container {
    padding: 0;
    max-width: 510px;
  }
}
@media (min-width: 768px) {
  .navtab.container {
    padding: 0;
    max-width: 690px;
  }
}
@media (min-width: 992px) {
  .navtab.container {
    padding: 0;
    max-width: 930px;
  }
}
@media (min-width: 1200px) {
  .navtab.container {
    padding: 0;
    max-width: 1110px;
  }
}
@media (max-width: 576px) {
  .navtab.container {
    padding: 0;
    width: 480px;
  }
}
